#include <windows.h>

1 RT_MANIFEST "UnfurlSetup.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,1,1
 PRODUCTVERSION 0,1,1,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Unfurl Project"
            VALUE "FileDescription", "Unfurl MSIX installer bootstrap"
            VALUE "FileVersion", "0.1.1.1"
            VALUE "InternalName", "UnfurlSetup.exe"
            VALUE "OriginalFilename", "UnfurlSetup.exe"
            VALUE "ProductName", "Unfurl"
            VALUE "ProductVersion", "0.1.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
